<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<!-- CSS -->
<link href="" th:href="@{/css/style.css}" rel="stylesheet" />
<title>Edit Product</title>
</head>
<body>
    <div align="center">
        <h1>Editar producto</h1>
        <br />
        <div class="container">
	        <form action="#" th:action="@{/save}" th:object="${product}"
	            method="post">
	            <table border="0" cellpadding="10">
	                <tr>             
	                    <td>ID producto:</td>
	                    <td>
	                        <input class="form-control" type="text" th:field="*{id}" readonly="readonly" />
	                    </td>
	                </tr>        
	                <tr>             
	                    <td>Nombre del producto:</td>
	                    <td>
	                        <input id="name" class="form-control" type="text" th:field="*{name}" />
	                    </td>
	                </tr>
	                <tr>
	                    <td>Marca:</td>
	                    <td><input id="brand" class="form-control" type="text" th:field="*{brand}" /></td>
	                </tr>
	                <tr>
	                    <td>Hecho en:</td>
	                    <td><input id="madein" class="form-control" type="text" th:field="*{madein}" /></td>
	                </tr>
	                <tr>
	                    <td>Precio:</td>
	                    <td><input id="price" class="form-control" type="text" th:field="*{price}" /></td>
	                </tr>                            
	                <tr>
	                    <td colspan="2"><button id="saveBtn" type="submit" class="btn-primary">Guardar</button> </td>
	                </tr>
	            </table>
	        </form>
        </div>
    </div>
    <script src="" th:src="@{/js/validate.js}"> </script>
</body>
</html>